<%= form_for(@org) do |f| %>
  <% if @org.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@org.errors.count, "error") %> prohibited this org from being saved:</h2>

      <ul>
      <% @org.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field span3">
    <%= f.label :name, 'Namn' %>
    <%= f.text_field :name %>
  </div>
  <div class="field span4">
    <%= f.label :url, 'Hemsida' %>   
    <%= f.text_field :url, :value => 'http://'  %>
  </div>
  <div class="field span8">
    <%= f.label :description, 'Beskrivning av organisationen' %>
    <%= f.text_area :description, :rows =>10,:class => 'span6' %>
  </div>

  <div class="spacer-large span8"></div>

  <div class="actions span4">
    <%= f.submit :value => 'Skapa', :class => 'btn btn-primary' %>
    <%= link_to 'Tillbaka', orgs_path, :class => 'btn' %>
  </div>

<% end %>
