<!-- TODO: Refactor put somewhere else -->
<script>
  $(document).ready(function() {
    map = createMap(getMyCoords());

    $.getJSON('getCourseCoords', { id: <%= @org.id %> }, function(data) {
      
      if (data.length == 1)
        putMarker(map, data);
      else
        putMultipleMarkers(map, data);
      
    });
  });
</script>
<!-- END TODO -->

<% title @org.name %>

<div id="pagewrap">
	
	<div id="share-wrapper">
  	</div>

  <div id="header-wrapper">
    <div id="header-logo">
      <img src="../assets/logo_test.png">
    </div>
    <div id="header-text">
      <h1><%= @org.name %></h1>
      <span><%= @org.description %></span>
      <span>Besök vår <%= link_to 'hemsida', @org.url %> för mer info.</span>
    </div>
   </div>

  <div class="spacer span8"></div> 
  
  <div id="map-wrapper span8">
    <div id="map-google-label">
      <div id="map_canvas" style="width:864px;height:380px" class="gmap"></div>
    </div>
  </div>
  
  <div id="map-geoLite" style="font-weight:300; color:#999; font-size:9px">This product includes GeoLite data created by MaxMind, available from http://www.maxmind.com</div>

  <div class="spacer span8"></div>

  <div id="result-wrapper">  
    <% if @courses && @courses.first %> 
    <% @courses.each.with_index do |course, i| %>
      <div id="result" class='span8 <%= (i%2 == 0) ? "" : "stripped" %>'>
        <div id="result-header"><%= link_to course.name, course %></div>
        <div id="result-marker"><img src="../assets/price-marker.png"></div>
        <% if course.course_sessions.blank? %>
            <div id="result-date"> - </div>
          <% else %>
            <div id="result-date"><%= course.course_sessions.first.start.strftime("%e/%m") %> - <%= course.course_sessions.last.start.strftime("%e/%m") %></div>
        <% end %>     
        <div id="result-marker"><img src="../assets/city-marker.png"></div>

        <div id="result-city"><%= course.location.name %>, <%= course.province %>s l&auml;n</div>
                
        <% course.course_tags.each do |ct| %>      
          <div id="result-category" class="btn btn-success">
            <%= ct.tag.name %> 
          </div>
        <% end %>
      </div>                
    <% end %>

    <% else %>
      <div id="result" class="span8">
        <span>Ops. Sorry, det finns kurser här ännu.</span>
      </div>
    <% end %>
  </div>

  <div class="spacer span8"></div>

  <div class="span8">  
    <% if can? :update, Org %>
      <%= link_to 'Ändra', edit_org_path(@org), :class => 'btn btn-info' %>
    <% end %>

    <% if can? :destroy, Org %>
      <%= link_to "Ta bort", org_path(@org), :data => { :confirm => "Vill du ta bort organisationen?" }, :method => :delete, :class => 'btn btn-danger' %>
    <% end %>

    <%= link_to 'Tillbaka', orgs_path, :class => 'btn' %>
  </div>

  <% if can? :update, Org %>
    <div class="spacer-large span8"></div>
    <hr class="span8">

    <h4 class="span8">Skapa en ny kurs </h4>
    <div class="spacer-small span8"></div>

    <%= render 'courses/form' %>
  
  <% end %>

</div>