<p>
	<b>Name:</b>
	<%= course.name %>
</p>
<p>
	<b>Price:</b>
	<%= course.price %>
</p>
<p>
	<b>City:</b>
	<%= course.city %>
</p>
<p>
	<b>Province:</b>
	<%= course.province %>
</p>
<p>
	<b>Category:</b>
	<%= course.category %>
</p>

<p> 
	<%= link_to 'Destroy Course', [course.org, course],
			:confirm => 'Are you sure?',
			:method => :delete %>
</p>