<%= form_for ([@org, @org.courses.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />    
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />   
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br />   
    <%= f.collection_select :location_id, @locations, :id, :name, :prompt => "Välj en plats" %><br />
  </div>  
  <div class="field">
    <%= f.label :city %><br />    
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :province %><br />    
    <%= f.text_field :province %>
  </div>
  <div class="field">
    <%= f.label :participants %><br />    
    <%= f.text_field :participants %>
  </div>
  <div class="field">
    <%= f.label :sessions %><br />    
    <%= f.text_field :sessions %>
  </div>
  <div class="field">
    <%= f.label :category %><br />

    <% @tags.each do |t| %>      
      <div class="category-checkbox">        
        <%= check_box_tag 'course_category[]', t.id %> 
        <span><%= t.name %></span>
      </div>
    <% end %>
  </div>

<div class="clear"></div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>