<%= form_for ([@org, @org.courses.build]) do |f| %>
 <div class="field span3">
    <%= f.label :name, 'Name' %>   
    <%= f.text_field :name %>
  </div>
  <div class="field span4">
    <%= f.label :location_id, 'Plats' %>  
    <%= f.collection_select :location_id, @locations, :id, :name, :prompt => "Välj en plats" %>
  </div>
  <div class="field span3">
    <%= f.label :price, 'Pris' %>   
    <%= f.text_field :price, :class => 'span1' %>
  </div>    
  <div class="field span4">
    <%= f.label :city, 'Stad' %>  
    <%= f.text_field :city %>
  </div>
  <div class="field span3">
    <%= f.label :participants, 'Antal deltagare' %>   
    <%= f.select :participants, (1..19), {}, {:class => 'span1'} %>
  </div>
  <div class="field span4">
    <%= f.label :province, 'Län' %>    
    <%= f.select :province, @provinces, :prompt => "Välj ett län" %>
  </div>
  <div class="field span8">
    <%= f.label :desc, 'Beskriving av kursen' %> 
    <%= f.text_area :desc, :class =>'span5', :rows => 10 %>
  </div>
  
  <div class="field span8">
    <%= f.label :sessions, 'Antal tillfällen' %>   
    <%= f.select :sessions, (1..9), {}, {:class => 'span1'} %>
  </div>

  <div class="field span8">
    <%= f.label :category, 'Taggar/Kategorier' %>
  
    <% @tags.each do |t| %>      
      <div class="btn btn-success">        
        <%= check_box_tag "category_id[]", t.id %> 
        <%= t.name %>
      </div>
    <% end %>
  </div>

  <div class="spacer-large span8"></div>



<div class="clear"></div>
  <div class="actions span8">
    <%= f.submit :value => 'Skapa kurs', :class => 'btn btn-primary' %>
    <%= link_to 'Tillbaka', orgs_path(), :class => 'btn' %>
  </div>
<% end %>