  <%= stylesheet_link_tag "http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css", "courses" %>
  <%= stylesheet_link_tag "jquery-ui-timepicker-addon.css", "courses" %>
  <%= javascript_include_tag "jquery-ui-timepicker-addon.js", "courses" %>

<script>
$(function() {
  $('.calendar').datetimepicker({
    dateFormat: 'yy-dd-mm',
    timeFormat: 'HH:mm',
    hourMin: 7,
    hourMax: 22,
    stepMinute: 15
  });
  
  $('.calendar-time').timepicker({
    timeFormat: 'HH:mm',
    hourMin: 7,
    hourMax: 22,    
    stepMinute: 15

  });

});
</script>

<div id="pagewrap">
	<div id="share-wrapper">
  	</div>

  <div id="header-wrapper">
    <div id="header-logo">
      <img src="../../assets/logo_test.png">
    </div>
    <div id="header-text">
      <h1>Ändra <%= @course.name %></h1>
    </div>
   </div>
<div id="result-wrapper">  

<%= form_for (@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field span3">
    <%= f.label :name, 'Name' %>   
    <%= f.text_field :name %>
  </div>
  <div class="field span4">
    <%= f.label :location_id, 'Plats' %>  
    <%= f.collection_select :location_id, @locations, :id, :name, :prompt => "Välj en plats" %>
  </div>
  <div class="field span3">
    <%= f.label :price, 'Pris' %>   
    <%= f.text_field :price, :class => 'span1' %>
  </div>    
  <div class="field span4">
    <%= f.label :city, 'Stad' %>  
    <%= f.text_field :city %>
  </div>
  <div class="field span3">
    <%= f.label :participants, 'Antal deltagare' %>   
    <%= f.select :participants, (1..19), {}, {:class => 'span1'} %>
  </div>
  <div class="field span4">
    <%= f.label :province, 'Län' %>    
    <%= f.select :province, @provinces, :prompt => "Välj ett län" %>
  </div>
  <div class="field span8">
    <%= f.label :desc, 'Beskriving av kursen' %> 
    <%= f.text_area :desc, :class =>'span5', :rows => 10 %>
  </div>

  <div class="spacer-small span8"></div>
  
  <div class="field span8">
    <%= f.label :sessions, 'Antal tillfällen' %>   
    <%= f.select :sessions, (1..9), {}, {:class => 'span1'} %>
  </div>

  <div class="spacer-small span8"></div>

  <div class="field span8">
    <% (@course_sessions).each_with_index do |session, i| %>
      <%= f.label 'Kurstillfälle' + (i+1).to_s, :class => 'span2' %>
      <%= f.label 'Sluttid', :class => 'span5' %>
      
      <div class="span2">
        <%= text_field :session_date_start, 'start' + (i + 1).to_s , :class => 'calendar span2', :value => (session.start) ? session.start.strftime("%Y-%d-%m %H:%M") : '' %>
      </div>

      <div class="span1">
      <%= text_field :session_date_end, 'end' + (i + 1).to_s , :class => 'calendar-time span1', :value => (session.end) ? session.end.strftime("%H:%M") : '' %>
      </div>
      
      <% i + 1%>
    <% end %>
  </div>

  <div class="spacer span8"></div>

  <div class="field span8">
    <%= f.label :category, 'Taggar/Kategorier' %>
  
    <% @tags.each do |t| %>      
      <div class="btn btn-success">        
        <%= check_box_tag "category_id[]", t.id, (@active_tags.include? t.id) %> 
        <%= t.name %>
      </div>
    <% end %>
  </div>

  <div class="spacer-large span8"></div>

<div class="clear"></div>
  <div class="actions span8">
    <%= f.submit :value => 'Uppdatera', :class => 'btn btn-primary' %>
    <%= link_to 'Tillbaka', courses_path, :class => 'btn' %>
  </div>
<% end %>

</div>
</div>