<div id="pagewrap">
  <div id="share-wrapper">

  </div>

  <div id="header-wrapper">
    <div id="header-logo">
      <img src="assets/logo_test.png">
    </div>
    <div id="header-text">
      <h1>Alla organisationer</h1>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
    </div>
  </div>

  <div id="result-wrapper">  


  <% @courses.each do |course| %>
  <div id="result">
    <div id="result-header"><%= link_to course.name, course %></div>
    <div id="result-price"><%= course.price %> sek</div>
    <div id="result-marker"><img src="assets/price-marker.png"></div>
    <div id="result-marker"><img src="assets/city-marker.png"></div>
    <div id="result-header"><%= course.city course.province %>s l&auml;n</div>
    <div id="result-category"><%= course.category %></div>
  </div>
  <% end %>

  
  <div style="margin-top:100px">
    <%= link_to 'New Course', new_course_path %>
  </div>

  </div>
</div>