<% title 'Alla kurser'%>

<div id="pagewrap">

<!-- 
  <div id="header-wrapper">
    <div id="header-logo">
      <img src="../assets/logo_test.png">
    </div>
    <div id="header-text">
      <h1>Alla Kurser</h1>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
    </div>
  </div>

  <div class="spacer span8"></div>  -->

  <div class="empty-box"></div>
  
  <div class="white-box">
    <div id="header-text">
      <h1>Alla Kurser</h1>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
    </div>

    <div id="result-wrapper">  

    <% if @courses && @courses.first %>
      <% @courses.each.with_index do |course, i| %>
      <div id="result" class='muted <%= (i%2 == 0) ? "" : "stripped" %>'>
        <div id="result-header"><%= link_to course.name, course %></div>
        <div id="result-marker"><img src="assets/price-marker.png"></div>
        <% if course.course_sessions.blank? %>
          <div id="result-date"> - </div>
        <% else %>
          <div id="result-date"><%= (course.course_sessions.first.start) ? course.course_sessions.first.start.strftime("%e/%m") : '-' %> - <%= (course.course_sessions.last.start) ? course.course_sessions.last.start.strftime("%e/%m") : '-' %></div>
        <% end %>
        <div id="result-marker"><img src="assets/city-marker.png"></div>
        <div id="result-city"><%= course.location.name %>, <%= course.province %>s l&auml;n</div>

        <% course.course_tags.each do |ct| %>      
                <div id="result-category" class="badge badge-important"><%= link_to ct.tag.name, ct.tag %></div>
        <% end %>

      </div>
      <% end %>

    <% else %>
      <div id="result" class="span8">
        <span>Ops. Sorry, det finns kurser ännu.</span>
      </div>
    <% end %>

  </div>

<div class="spacer span8"></div> 
<div class="spacer-large span8"></div> 
</div>
</div>