<div id="pagewrap">
  <div id="share-wrapper">

  </div>

  <div id="header-wrapper">
    <div id="header-logo">
      <img src="assets/logo_test.png">
    </div>
    <div id="header-text">
      <h1>Alla Courses</h1>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
    </div>
  </div>

  <div id="result-wrapper">  
    <% @courses.each do |course| %>
    <div id="result">
      <div id="result-course-name"><%= link_to course.name, course %></div>
      <div id="result-marker"><img src="assets/price-marker.png"></div>
      <% if course.course_sessions.blank? %>
        <div id="result-date"> - </div>
      <% else %>
        <div id="result-date"><%= (course.course_sessions.first.start) ? course.course_sessions.first.start.strftime("%e/%m") : '-' %> - <%= (course.course_sessions.last.start) ? course.course_sessions.last.start.strftime("%e/%m") : '-' %></div>
      <% end %>
      <div id="result-marker"><img src="assets/city-marker.png"></div>
      <div id="result-city"><%= course.location.name %>, <%= course.province %>s l&auml;n</div>
      <% course.course_tags.each do |ct| %>      
              <div id="result-category"><%= link_to ct.tag.name, ct.tag %></div>
          <% end %>
    </div>
    <% end %>
  </div>

<%= link_to 'Back to Organisations', orgs_path %>
</div>