<div id="pagewrap">
  <div id="share-wrapper">

  </div>

  <div id="header-wrapper">
    <div id="header-logo">
      <img src="../assets/logo_test.png">
    </div>
    <div id="header-text">
      <h1>Alla Locations</h1>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
    </div>
  </div>

  <div class="spacer span8"></div> 

  <div id="result-wrapper">  
    <% @locations.each.with_index do |location, i| %>
    <div id="result" class='span8 <%= (i%2 == 0) ? "" : "stripped" %>'>
      <div id="result-location-name"><%= link_to location.name, location %></div>
      <div id="result-marker"><img src="../assets/city-marker.png"></div>
      <div id="result-coord"><%= location.lat %></div>
      <div id="result-marker"><img src="../assets/city-marker.png"></div>
      <div id="result-coord"><%= location.lng %></div>  
    </div>
    <% end %>

    <div class="spacer span8"></div> 

    <% if can? :create, Location %>
      <div class="span8"><%= link_to 'Skapa en plats', new_location_path, :class => 'btn btn-info' %></div>
    <% end %>

    </div>
  </div>

</div>