<!-- TODO: Refactor put somewhere else -->
<script>
	$(document).ready(function() {
		
    var coords = new Array();    
    coords['lat'] = <%= @location.lat %>;
    coords['lng'] = <%= @location.lng %>;

    var map = createMap(coords);

    var data = new Array();
    var tmp = new Array();
    tmp['name'] = '<%= @location.name %>';

    data.push(tmp);
    data.push(coords);

		putMarker(map, data);

	});
</script>
<!-- END TODO -->

<div id="pagewrap">
	
	<div id="share-wrapper">
  	</div>

  <div id="header-wrapper">
    <div id="header-logo">
      <img src="../assets/logo_test.png">
    </div>
    <div id="header-text">
      <h1><%= @location.name %></h1>
    </div>
   </div>
  
  <div class="spacer span8"></div> 

  <div id="result" class='span8'>
    <span>
      <b>Name: </b><%= @location.name %><br />
      <b>Latitude: </b><%= @location.lat %><br />
      <b>Longitude: </b><%= @location.lng %>
    </span>
  </div>

  <div class="spacer span8"></div> 

  <div id="map-wrapper span8">
		<div id="map-google-label">
			<div id="map_canvas" style="width:864px;height:380px" class="gmap"></div>
		</div>
	</div>
	
	<div id="map-geoLite" style="font-weight:300; color:#999; font-size:9px">This product includes GeoLite data created by MaxMind, available from http://www.maxmind.com</div>

  <div class="spacer span8"></div> 

  <% if can? :update, Location %>
      <%= link_to 'Ändra en plats', edit_location_path(@location), :class => 'btn btn-info' %>
  <% end %>
 <%= link_to 'Tillbaka', orgs_path, :class => 'btn' %>

</div>