<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Allahundkurser" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Ubuntu:300,500,300italic", "application" %>
    <%= javascript_include_tag "application" %>
      <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBr31V9bZKa2TSUVPiNPJEINT3LFRAkuxY&sensor=false"></script>
  <script src="http://j.maxmind.com/app/geoip.js"></script>
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "ur-1eb36199-4464-7571-f771-d8f46574b177"});</script> 
    <%= csrf_meta_tags %>

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon"/>

    <%= yield(:head) %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>

      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->

      <div class="spacer-large"></div>       
      <div class="clear"></div> 
    </div> <!--! end of #main -->

    <footer id="footer" class="alert alert-info span5 pull-right">        
        <% if user_signed_in? %>
          <span class="nav-username">Inloggad som <%= current_user.email %></span>
          <%= link_to('Ändra din profil ', edit_user_registration_path) %>
        <% else %>
          <%= link_to('Registrera ett konto ', new_user_registration_path)  %>
        <% end %>
        eller
        <% if user_signed_in? %>
          <%= link_to(' Logga ut', destroy_user_session_path, :method=>'delete') %>
        <% else %>
          <%= link_to(' Logga in', new_user_session_path)  %>
        <% end %>

      </footer>
  </body>
</html>

